article {
  background-color: white;
  border: 1px solid #EFEFEF;
  width: 70%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: fit-content;
  margin-bottom: 15px;
}
.feedHead {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    .profile {
      padding: 5px;
      display: flex;
      align-items: center;
      height: 40px;
      img {
        
        margin-right: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    img {
      width: 30px;
      margin-right: 5px ;
    }

}
.feedBody {
  img {
    width: 100%;
    height: auto;
    max-height: 600px;
  }
}
.feedMenu {
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}